<%= render 'relative_salers/saler_navbar'%>


<div class="ivu-card-body">
  <div>
    <div class="title-3USED">上传某某表</div>
      <div class="ivu-date-picker" style="width: 300px;">
        <div class="ivu-date-picker-rel">
          <div class="ivu-input-wrapper ivu-input-type ivu-date-picker-editor">
            
          </div>
        </div>
      </div>
    <div class="wrap-2Xn2p">

    </div>

    <div class="footer-1Xjvi">

    </div>
  </div>
</div>
