<%= render 'relative_salers/saler_navbar'%>

<!--
<div class="ivu-card-body">
  <div>
    <div class="title-3USED">上传某某表</div>
      <div class="ivu-date-picker" style="width: 300px;">
        <div class="ivu-date-picker-rel">
          <div class="ivu-input-wrapper ivu-input-type ivu-date-picker-editor">

          </div>
        </div>
      </div>
    <div class="wrap-2Xn2p">

    </div>

    <div class="footer-1Xjvi">

    </div>
  </div>
</div> -->
<%= form_for @charge_detail do |f| %>

<div class="container">
    <div class="col-sm-6" style="height:130px; width: 300px">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker10'>
                <%= f.text_field :upload_time, :class => "form-control" %>
                <!-- <input type='text' class="form-control" /> -->
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker10').datetimepicker({
            viewMode: 'years',
            format: 'YYYY-MM',
            locale: moment.locale('zh-cn')
        });
    });
</script>
