<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">序号</Data></Cell>
        <Cell><Data ss:Type="String">被考核科室</Data></Cell>
        <Cell><Data ss:Type="String">生产经营绩效考核得分</Data></Cell>
        <Cell><Data ss:Type="String">生产经营绩效考核扣分</Data></Cell>
        <Cell><Data ss:Type="String">生产经营绩效考核_综合指标扣分</Data></Cell>
        <Cell><Data ss:Type="String">生产经营绩效考核_设备质量扣分</Data></Cell>
        <Cell><Data ss:Type="String">安全质量考核得分</Data></Cell>
        <Cell><Data ss:Type="String">安全质量考核扣分</Data></Cell>
        <Cell><Data ss:Type="String">安全质量考核_牌卡检查问题考核扣分</Data></Cell>
        <Cell><Data ss:Type="String">工作质量考核_得分</Data></Cell>
        <Cell><Data ss:Type="String">工作质量考核_平均扣分</Data></Cell>
        <Cell><Data ss:Type="String">备注</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
