<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">序号</Data></Cell>
        <Cell><Data ss:Type="String">科室车间</Data></Cell>
        <Cell><Data ss:Type="String">标准化合计</Data></Cell>
        <Cell><Data ss:Type="String">标准化科室车间</Data></Cell>
        <Cell><Data ss:Type="String">标准化班组</Data></Cell>
        <Cell><Data ss:Type="String">标杆优秀达标车间奖励</Data></Cell>
        <Cell><Data ss:Type="String">科室车间备份</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
