<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">工资号</Data></Cell>
        <Cell><Data ss:Type="String">工号</Data></Cell>
        <Cell><Data ss:Type="String">档案号</Data></Cell>
        <Cell><Data ss:Type="String">部门</Data></Cell>
        <Cell><Data ss:Type="String">班组名称</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">性别</Data></Cell>
        <Cell><Data ss:Type="String">电话号</Data></Cell>
        <Cell><Data ss:Type="String">出生日期</Data></Cell>
        <Cell><Data ss:Type="String">出生年份</Data></Cell>
        <Cell><Data ss:Type="String">年龄</Data></Cell>
        <Cell><Data ss:Type="String">民族</Data></Cell>
        <Cell><Data ss:Type="String">籍贯</Data></Cell>
        <Cell><Data ss:Type="String">政治面目</Data></Cell>
        <Cell><Data ss:Type="String">党团时间</Data></Cell>
        <Cell><Data ss:Type="String">工作时间</Data></Cell>
        <Cell><Data ss:Type="String">入路时间</Data></Cell>
        <Cell><Data ss:Type="String">本单位日期</Data></Cell>
        <Cell><Data ss:Type="String">职务</Data></Cell>
        <Cell><Data ss:Type="String">任职时间</Data></Cell>
        <Cell><Data ss:Type="String">兼职</Data></Cell>
        <Cell><Data ss:Type="String">级别</Data></Cell>
        <Cell><Data ss:Type="String">转干时间</Data></Cell>
        <Cell><Data ss:Type="String">技术职务</Data></Cell>
        <Cell><Data ss:Type="String">任技时间</Data></Cell>
        <Cell><Data ss:Type="String">班组长类别</Data></Cell>
        <Cell><Data ss:Type="String">班组长职务</Data></Cell>
        <Cell><Data ss:Type="String">工种分类</Data></Cell>
        <Cell><Data ss:Type="String">合同岗位</Data></Cell>
        <Cell><Data ss:Type="String">人员来源</Data></Cell>
        <Cell><Data ss:Type="String">人员分类</Data></Cell>
        <Cell><Data ss:Type="String">文化程度</Data></Cell>
        <Cell><Data ss:Type="String">毕业时间</Data></Cell>
        <Cell><Data ss:Type="String">毕业学校</Data></Cell>
        <Cell><Data ss:Type="String">学校类别</Data></Cell>
        <Cell><Data ss:Type="String">所学专业</Data></Cell>
        <Cell><Data ss:Type="String">现在何处</Data></Cell>
        <Cell><Data ss:Type="String">用工形式</Data></Cell>
        <Cell><Data ss:Type="String">合同期限</Data></Cell>
        <Cell><Data ss:Type="String">签订时间</Data></Cell>
        <Cell><Data ss:Type="String">档案工资</Data></Cell>
        <Cell><Data ss:Type="String">技能工资</Data></Cell>
        <Cell><Data ss:Type="String">岗位工资</Data></Cell>
        <Cell><Data ss:Type="String">工龄工资</Data></Cell>
        <Cell><Data ss:Type="String">技能鉴定</Data></Cell>
        <Cell><Data ss:Type="String">待遇</Data></Cell>
        <Cell><Data ss:Type="String">岗位档序</Data></Cell>
        <Cell><Data ss:Type="String">技能档序</Data></Cell>
        <Cell><Data ss:Type="String">现岗位</Data></Cell>
        <Cell><Data ss:Type="String">现岗时间</Data></Cell>
        <Cell><Data ss:Type="String">退休条件</Data></Cell>
        <Cell><Data ss:Type="String">婚况</Data></Cell>
        <Cell><Data ss:Type="String">分居情况</Data></Cell>
        <Cell><Data ss:Type="String">享受探亲</Data></Cell>
        <Cell><Data ss:Type="String">户口所在</Data></Cell>
        <Cell><Data ss:Type="String">家庭住址</Data></Cell>
        <Cell><Data ss:Type="String">备注</Data></Cell>
        <Cell><Data ss:Type="String">身份证号</Data></Cell>
        <Cell><Data ss:Type="String">工作证号</Data></Cell>
        <Cell><Data ss:Type="String">行业代码</Data></Cell>
        <Cell><Data ss:Type="String">生产组</Data></Cell>
        <Cell><Data ss:Type="String">工资项目</Data></Cell>
        <Cell><Data ss:Type="String">其他工资</Data></Cell>
        <Cell><Data ss:Type="String">备用数据</Data></Cell>
        <Cell><Data ss:Type="String">TBZ</Data></Cell>
        <Cell><Data ss:Type="String">PY</Data></Cell>
        <Cell><Data ss:Type="String">单位名称</Data></Cell>
        <Cell><Data ss:Type="String">CJBZPX</Data></Cell>
        <Cell><Data ss:Type="String">家属</Data></Cell>
        <Cell><Data ss:Type="String">J01BF</Data></Cell>
        <Cell><Data ss:Type="String">职务化</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
