<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">序号</Data></Cell>
        <Cell><Data ss:Type="String">科室车间</Data></Cell>
        <Cell><Data ss:Type="String">部门班组</Data></Cell>
        <Cell><Data ss:Type="String">工资号</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">系数</Data></Cell>
        <Cell><Data ss:Type="String">挂钩工资</Data></Cell>
        <Cell><Data ss:Type="String">安全质量</Data></Cell>
        <Cell><Data ss:Type="String">工作质量</Data></Cell>
        <Cell><Data ss:Type="String">一体化</Data></Cell>
        <Cell><Data ss:Type="String">兼职兼岗</Data></Cell>
        <Cell><Data ss:Type="String">其他</Data></Cell>
        <Cell><Data ss:Type="String">应发</Data></Cell>
        <Cell><Data ss:Type="String">考核扣款</Data></Cell>
        <Cell><Data ss:Type="String">备注</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
