<div class="container">
  <div class="back-btn" style="margin-bottom: 10px;">
    <%= link_to '返回首页', '/'%>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" style="font-size: 15px;">奖惩管理相关</div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_table_template_announcements_path(format: "xls")%></span>
        工挂工资明细表
      </li>
    </ul>
  </div>
</div>
