<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">科室车间</Data></Cell>
        <Cell><Data ss:Type="String">扣款合计</Data></Cell>
        <Cell><Data ss:Type="String">挂钩考核扣款</Data></Cell>
        <Cell><Data ss:Type="String">安全业绩扣分</Data></Cell>
        <Cell><Data ss:Type="String">安全业绩扣款</Data></Cell>
        <Cell><Data ss:Type="String">生产经营绩效扣款</Data></Cell>
        <Cell><Data ss:Type="String">总重吨公里扣分</Data></Cell>
        <Cell><Data ss:Type="String">总重吨公里扣款</Data></Cell>
        <Cell><Data ss:Type="String">综合指标扣分</Data></Cell>
        <Cell><Data ss:Type="String">综合指标扣款</Data></Cell>
        <Cell><Data ss:Type="String">设备质量扣分</Data></Cell>
        <Cell><Data ss:Type="String">设备质量扣款</Data></Cell>
        <Cell><Data ss:Type="String">盈亏结果扣分</Data></Cell>
        <Cell><Data ss:Type="String">盈亏结果扣款</Data></Cell>
        <Cell><Data ss:Type="String">安全质量扣分</Data></Cell>
        <Cell><Data ss:Type="String">安全质量扣款</Data></Cell>
        <Cell><Data ss:Type="String">工作质量扣分</Data></Cell>
        <Cell><Data ss:Type="String">工作质量扣款</Data></Cell>
        <Cell><Data ss:Type="String">抽考扣款</Data></Cell>
        <Cell><Data ss:Type="String">红牌中层扣款</Data></Cell>
        <Cell><Data ss:Type="String">处分扣款</Data></Cell>
        <Cell><Data ss:Type="String">其他扣款</Data></Cell>
        <Cell><Data ss:Type="String">安全质量考核中牌卡扣分</Data></Cell>
        <Cell><Data ss:Type="String">安全质量考核中牌卡扣款</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
