<!--来自github上的导航栏的设计-->
<div class="header_info">
  <ul class="d-flex pl-2 flex-items-center text-bold list-style-none" role="navigation">
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 20px;" href="/employees">
        员工信息
      </a>
    </li>
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 80px;" href="/employees/organization_structure">
        组织架构
      </a>
    </li>
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 80px;" href="/employees/statistical_analysis">
        统计分析
      </a>
    </li>
  </ul>
</div>
