<div class="modal fade" id="uploadEmployeeform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">
          上传现员详情表
        </h4>
      </div>
      <div class="modal-body">
       
          <%= form_tag import_table_employees_path, method: 'post', multipart: true do %>
            <div class="star_import_model_file_style">
              <ul class ="star_import_model">
                <li>
                  <%= file_field_tag :file,required: true %>
                </li>
              </ul>
            </div>
            <div class="" style="">
               <%= submit_tag :点击确定,:data => {disable_with: "附件上传中 ... "},:class => "btn btn-primary-status" %>
            </div>

            <div class=" remind-circle">
              <h5 style=" margin-top: 40px;">温馨提示</h5>
              <p>1、暂不支持复合表头（即合并单元格）；</p>
              <p>2、如上传遇到问题，请使用标准模版上传 <%= link_to "【现员表模版】", download_emp_table_template_announcements_path(format: "xls") %></p>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>