<div class="header_info" style="margin-top:-10px;margin-left:-128px;">
  <ul class="d-flex pl-2 flex-items-center text-bold list-style-none" role="navigation">
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 20px;" href="/employees">
        员工信息
      </a>
    </li>
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 80px;" href="/employees/organization_structure">
        组织架构
      </a>
    </li>
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 80px;" href="/employees/statistical_analysis">
        统计分析
      </a>
    </li>
  </ul>
</div>
<!-- 年龄分析饼图-开始  -->
<!-- 给饼图准备一个合适大小的dom  -->
<div id="container1" style="min-width:800px;height:600px;"></div>
<!-- 引入highcharts库  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  $(function () {
    var chart1 = $('#container1').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: '年龄分析'
      },
      // 数据提示框设置
      tooltip: {
        headerFormat: '',
        pointFormat: '{point.name}:<br> 百分比：<b>{point.percentage:.1f}%</b>, <br>数量：<b>{point.y}</b>'
      },

      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          // 设置点击饼图的事件
          events: {
            click: function (e) {
              location.href = e.point.url
            }
          },
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          },
          // 设置是否显示图例
          showInLegend: true
        },
        // 设置饼图的点击事件
        series: {
          point: {
            events: {
              click: function () {
                // 先将需要放入url的参数赋值给一个变量
                var age = this.name
                // 把此变量放入url中
                location.href = '/employees/age_analysis_data?age=' + age;
              }
            }
          }
        }
      },
      // 饼图的数据来源
      series: [
        {
          colorByPoint: true,
          // 设置饼图各个扇区的数据，注意需要数组类型的数据
          data: [
            {
              name: '55岁以上',
              y: gon.fifty
            }, {
              name: '45-50岁',
              y: gon.forty_five
            }, {
              name: '40-45岁',
              y: gon.forty
            }, {
              name: '25-30岁',
              y: gon.twenty_five
            }, {
              name: '30-35岁',
              y: gon.thirty
            }, {
              name: '35-40岁',
              y: gon.thirty_five
            }, {
              name: '25岁以下',
              y: gon.twenty_five_below
            }
          ]
        }
      ]
    });
  });
</script>
<!-- 年龄分析饼图-结束  -->

<!-- 年龄分析条形图-开始  -->
<!-- 给条形图准备一个合适大小的dom  -->
<div id="container2" style="min-width:800px;height:800px"></div>
<!-- 引入highcharts库  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  var chart2 = $(function () {
    $('#container2').highcharts({
      chart: {
        type: 'bar'

      },
      title: {
        text: '年龄分析'
      },
      xAxis: {
        lables: {
          step: 1
        },
        categories: gon.bar_workshop
      },
      yAxis: {
        min: 0,
        lables: {
          step: 1
        },
        title: {
          text: '员工数量'
        }
      },

      tooltip: {
        formatter: function () {
          var age_percentage = this.y * 100
          return "<b>" + this.series.name + "</b><br>百分比" + Math.round(age_percentage) + " %";
        }
      },
      legend: {
        reversed: true
      },
      plotOptions: {
        bar: {
          pointWidth: 15,
          pointPadding: 0
        },
        // 设置条形图的点击事件
        series: {
          stacking: 'normal',
          point: {
            events: {
              click: function () {
                // 先将需要放入url的参数赋值给一个变量
                var workshop = this.category
                var age = this.series.name;
                // 将变量放入url中
                location.href = '/employees/age_analysis_data_bar?workshop=' + workshop + '&age=' + age;
              }
            }
          }
        }
      },
      series: [
        {
          name: '25岁以下',
          data: gon.bar_twenty_five_below
        }, {
          name: '25-30岁',
          data: gon.bar_twenty_five
        }, {
          name: '30-35岁',
          data: gon.bar_thirty
        }, {
          name: '35-40岁',
          data: gon.bar_thirty_five
        }, {
          name: '40-45岁',
          data: gon.bar_forty
        }, {
          name: '45-50岁',
          data: gon.bar_forty_five
        }, {
          name: '50-55岁',
          data: gon.bar_fifty
        }, {
          name: '55岁以上',
          data: gon.bar_fifty_five
        }
      ]
    });
  })
</script>

<!-- 年龄分析条形图-结束  -->

<!-- 学历分析饼图-开始  -->
<!-- 给饼图准备一个合适大小的dom  -->
<div id="container3" style="min-width:800px;height:600px"></div>
<!-- 引入highcharts库  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  $(function () {
    var chart3 = $('#container3').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: '学历分析'
      },
      // 数据提示框设置
      tooltip: {
        headerFormat: '',
        pointFormat: '{point.name}:<br> 百分比：<b>{point.percentage:.1f}%</b>, <br>数量：<b>{point.y}</b>'
      },

      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          },
          // 设置是否显示图例
          showInLegend: true
        },
        //设置饼图的点击事件
        series: {
          point: {
            events: {
              click: function () {
                // 先将需要放入url的参数赋值给一个变量
                var education = this.name
                // 把此变量放入url中
                location.href = '/employees/education_background_analysis_data?education=' + education;
              }
            }
          }
        }
      },
      // 饼图的数据来源
      series: [
        {
          colorByPoint: true,
          // 设置饼图各个扇区的数据，注意需要数组类型的数据
          data: [
            {
              name: '中专',
              y: gon.secondary_school
            }, {
              name: '大学专科',
              y: gon.university_specialties
            }, {
              name: '高中',
              y: gon.senior_high_school
            }, {
              name: '大学本科',
              y: gon.undergraduate
            }, {
              name: '初中',
              y: gon.junior_high_school
            }, {
              name: '技校',
              y: gon.technical_school
            }, {
              name: '研究生',
              y: gon.postgraduate
            }, {
              name: '小学',
              y: gon.primary_school
            }
          ]
        }
      ]
    });
  });
</script>
<!-- 学历分析饼图-结束  -->

<!-- 年龄分析条形图-开始  -->
<!-- 给条形图准备一个合适大小的dom  -->
<div id="container4" style="min-width:800px;height:800px"></div>
<!-- 引入highcharts库  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  var chart4 = $(function () {
    $('#container4').highcharts({
      chart: {
        type: 'bar'

      },
      title: {
        text: '学历分析'
      },
      xAxis: {
        lables: {
          step: 1
        },
        categories: gon.bar_workshop
      },
      yAxis: {
        min: 0,
        lables: {
          step: 1
        },
        title: {
          text: '员工数量'
        }
      },
      tooltip: {
        formatter: function () {
          var age_percentage = this.y * 100
          return "<b>" + this.series.name + "</b><br>百分比" + Math.round(age_percentage) + " %";
        }
      },
      legend: {
        reversed: true
      },
      plotOptions: {
        bar: {
          pointWidth: 15,
          pointPadding: 0
        },
        // 设置条形图的点击事件
        series: {
          stacking: 'normal',
          point: {
            events: {
              click: function () {
                // 先将需要放入url的参数赋值给一个变量
                var workshop = this.category
                var education = this.series.name;
                // 将变量放入url中
                location.href = '/employees/education_background_analysis_data_bar?workshop=' + workshop + '&education=' + education;
              }
            }
          }
        }
      },
      series: [
        {
          name: '中专',
          data: gon.bar_secondary_school
        }, {
          name: '大学专科',
          data: gon.bar_university_specialties
        }, {
          name: '高中',
          data: gon.bar_senior_high_school
        }, {
          name: '大学本科',
          data: gon.bar_undergraduate
        }, {
          name: '初中',
          data: gon.bar_junior_high_school
        }, {
          name: '技校',
          data: gon.bar_technical_school
        }, {
          name: '研究生',
          data: gon.bar_postgraduate
        }, {
          name: '小学',
          data: gon.bar_primary_school
        }
      ]
    });
  })
</script>

<!-- 年龄分析条形图-结束  -->

<!-- 工龄分析饼图-开始  -->
<!-- 给饼图准备一个合适大小的dom  -->
<div id="container5" style="min-width:800px;height:600px"></div>
<!-- 引入highcharts库  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  $(function () {
    var chart5 = $('#container5').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: '工龄分析'
      },
      // 数据提示框设置
      tooltip: {
        headerFormat: '',
        pointFormat: '{point.name}:<br> 百分比：<b>{point.percentage:.1f}%</b>, <br>数量：<b>{point.y}</b>'
      },

      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          },
          // 设置是否显示图例
          showInLegend: true
        },
        //设置饼图的点击事件
        series: {
          point: {
            events: {
              click: function () {
                // 先将需要放入url的参数赋值给一个变量
                var education = this.name
                // 把此变量放入url中
                location.href = '/employees/education_background_analysis_data?education=' + education;
              }
            }
          }
        }
      },
      // 饼图的数据来源
      series: [
        {
          colorByPoint: true,
          // 设置饼图各个扇区的数据，注意需要数组类型的数据
          data: [
            {
              name: '中专',
              y: gon.secondary_school
            }, {
              name: '大学专科',
              y: gon.university_specialties
            }, {
              name: '高中',
              y: gon.senior_high_school
            }, {
              name: '大学本科',
              y: gon.undergraduate
            }, {
              name: '初中',
              y: gon.junior_high_school
            }, {
              name: '技校',
              y: gon.technical_school
            }, {
              name: '研究生',
              y: gon.postgraduate
            }, {
              name: '小学',
              y: gon.primary_school
            }
          ]
        }
      ]
    });
  });
</script>
<!-- 学历分析饼图-结束  -->
