<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% BonusHeader.pluck("header").each do |i| %>
            <th><%= i %></th>
            <Cell><Data ss:Type="String"><%= i %></Data></Cell>
        <% end %>
      </Row>
    <% @export_bonus.each do |bonus| %>
      <Row>
        <% (1..BonusHeader.count).each do |i| %>
            <Cell><Data ss:Type="String"><%= bonus.send("col" + i.to_s) %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
