<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
            <th>期末人数</th>
            <th>工资总额</th>
            <th>人均工资</th>
        	</tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Wage.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>