<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
            <th>从业人员期末人数</th>
            <th>在岗职工</th>
            <th>其他从业</th>
            <th>初中及以下</th>
            <th>高中</th>
            <th>技校</th>
            <th>中专</th>
            <th>大专及以上</th>
            <th>未鉴定</th>
            <th>初级工</th>
            <th>中级工</th>
            <th>高级工</th>
            <th>技师</th>
            <th>高级技师</th>
            <th>30岁及以下</th>
            <th>31-35岁</th>
            <th>36-40岁</th>
            <th>41-50岁</th>
            <th>51-55岁</th>
            <th>56-60岁</th>
            <th>在岗职工工资总额</th>
            <th>在岗职工人均工资</th>
            <th>安全履职劳动数量工作质量捆挂考核工资总额</th>
        	</tr>
        </thead>
      </table>
    </div>
  </div>
</div>