<div class="pageheader">
  <h2>当前位置 <span>工资模块</span> </h2>
</div>

<div class="contentpanel">
  <h5><a href="/wages/import_wage">前往工资  > > </a> </h5>
  <h5><a href="/bonus/import_bonus">前往奖金 > > </a> </h5>
</div>
