<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
            <th>期末人数</th>
            <th>工资总额</th>
            <th>岗位工资</th>
            <th>技能工资</th>
            <th>加班工资</th>
            <th>奖金</th>
            <th>津贴补贴</th>
        	</tr>
        </thead>
      </table>
    </div>
  </div>
</div>