<table id="example" class="table table-bordered">
  <thead>
    <tr>
      <th>用户名</th>
      <th>密码</th>
    </tr>
  </thead>
   <tbody data-behavior='sortable'>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.password%></td>
      </tr>
    <% end %>
 </tbody>
</table>

<div class="text-center">
  <%= paginate @users%>
</div>
