<div class="contentpanel">
  <div class="panel">
    <div class="panel-heading">
      <h4>各职务收入对比(2017年3月-7月对比2018年3-7月)</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-success">Success</button>
      </div>
    </div>
    <div class="panel-body">

    </div>
    <div class="panel">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
