<div class="contentpanel">
  <div class="panel">
    <div class="panel-heading">
      <h4>各职务收入对比(2017年3月-7月对比2018年3-7月)</h4>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          时间选择
        </a>
        <div class="daterangepicker dropdown-menu">
          <div class="calendar-wrap">
            <div class="calendar">
              <ul>
                <li>
                  <span>从</span>
                  <input id="beginTime" value="">
                </li>
                <li>
                  <span>到</span>
                  <input id="endTime" value="">
                </li>
                <li>
                  <span>按月显示</span>
                </li>
              </ul>
            </div>
            <div class="ranges">
              <ul>
                <li onclick="getQuarter()">本季度</li>
                <li onclick="getLastQuarter(today.getFullYear() )">上季度</li>
                <li onclick="thisYear()">本年度</li>
                <li onclick="lastYear()">上年度</li>
              </ul>
            </div>
            <div class="toolbar">
              <span class="item">
                与上一年同期相比
              </span>
              <span class="item">
                <button type="button" name="button" class="btn btn-link btn-small">取消</button>
                <button type="button" name="button" class="btn btn-primary btn-small">确定</button>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      数据源选择
    </a>
    <div class="dateselect dropdown-menu"  id="multiCollapseExample2">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <% Workshop.current.each do |workshop| %>
            <li>
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  <%= workshop.name %>
                </label>
            </li>
          <% end %>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <% Employee.pluck(:grade).uniq.compact.each do |grade| %>
            <li>
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  <%= grade %>
                </label>
            </li>
          <% end %>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <% Employee.pluck(:duty).uniq.compact.each do |duty| %>
            <li>
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  <%= duty %>
                </label>
            </li>
          <% end %>
        </div>
        <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
          <% Employee.pluck(:work_type).uniq.compact.each do |work_type| %>
            <li>
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  <%= work_type %>
                </label>
            </li>
          <% end %>
        </div>
        <div class="toolbar" style="position:relative;float:right;">
          <span class="item">
            <button type="button" name="button" class="btn btn-link btn-small">取消</button>
            <button type="button" name="button" class="btn btn-primary btn-small">确定</button>
          </span>
        </div>
      </div>


      <ul class="select-nav" id="myTab" role="tablist">
        <li class="item">
          <a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" href="#home" >车间部门</a>
        </li>
        <li class="item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">级别</a>
        </li>
        <li class="item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">职务</a>
        </li>
        <li class="item">
          <a class="nav-link" id="group-tab" data-toggle="tab" role="tab" aria-controls="group" aria-selected="false" href="#group" >工种</a>
        </li>
      </ul>
    </div><!--dateselect-->

    </div>


    <div class="panel-body">
      <div class="demo" style="margin: 0; border: 1px solid; min-width: 500px;">
        hah
      </div>
    </div>
  </div>
</div>
