<div class="panel-heading">
  <div class="wage-navbar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">五星岗位</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/star_infos/all_star_info">全部岗位</a>
      </li>
    </ul>
  </div>
</div>

<h3>这是五星人员岗位页</h3>