<div class="modal fade" id="createWageHeader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">新增表头</h4>
      </div>
      <div class="modal-body">
          <%= form_tag create_header_djwages_path, method: 'post' do %>
            <%= label_tag :请填写表头名称 %>
            <%= text_field_tag :header, nil, required: true %>
            <%= submit_tag :确定 %>
          <% end %>
      </div>
    </div>
  </div>
</div>
