<div class="header_info">
  <ul class="d-flex pl-2 flex-items-center text-bold list-style-none" role="navigation">
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 20px;" href="/relative_salers">
        工效挂钩明细表
      </a>
    </li>
    <li>
      <a class="js-selected-navigation-item HeaderNavlink px-2" style="margin-left: 80px;" href="/charge_details">
        扣款明细
      </a>
    </li>
  </ul>
</div>
