/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome";


/*------------------sidebar------------*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 260px;
    background: #fff;
}

.sidebar .logo {
    padding: 15px 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,.3);
}

.sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
    text-decoration: none
}


.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.sidebar .nav {
    margin-top: 20px;
    display: block;
}

.sidebar .nav li:first-child>a {
    margin: 0 15px;
}

.sidebar .nav li a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}


a .material-icons {
    vertical-align: middle;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.nav {
    flex-wrap: wrap;
    padding-left: 0;
}

ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
/*-----------------------结束------------------*/
.nav .nav-item {
    position: relative;
}

.nav-link{
  display: block;
}

.navbar{
  height: 70px;
  background-color: #fff;
  border-color: #fff;
  z-index: 100;
  margin-left:262px;
  // box-shadow: 0 2px 5px -30px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 0px 0px -1px rgba(0,0,0,.2);
}


.navbar:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,.3);
}

/*--导航栏--*/
.main_content>.navbar {
  margin-bottom:0;
}

.navbar.navbar-transparent {
    padding-top: 10px;
    // background-color: transparent!important;
    box-shadow: none;
}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1029;
}

.navbar.fixed-top {
    border-radius: 0;
}

.fixed-top {
    top: 0;
    left: 0;
    right: 0;
}


.navbar-expand-lg {
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
}


.navbar>.container-fluid {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50px;
}

.navbar .navbar-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
}

.nav-wrapper {
  font-size: 16px;
  font-weight: 300px;
  text-align: left;
  min-width: auto;
  min-height: auto;
  height: 50px;
}

.navbar .navbar-brand {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: .625rem 0;
    font-weight: 300;
    margin-left: 1rem;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  white-space: nowrap;
}








.navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
}

.justify-content-end {
    -webkit-box-pack: end!important;
    justify-content: flex-end!important;
}

.navbar .navbar-nav {
    -webkit-box-align: center;
    align-items: center;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
    margin-top: -3px;
    top: 0;
    position: relative;
    margin-right: 3px;
}

.navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    max-width: 24px;
}

.navbar-nav {
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
}
/*--结束--*/



// 现员表导航栏
.header_info {
  font-size: 14px !important;
  display: block;
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  margin-top: -60px;
  margin-left: -18px;
  margin-bottom: 10px;
  background-color: #fff;
}

.d-flex {
  display: flex !important;
}

.list-style-none {
  list-style: none !important;
}

.text_bold {
  font-weight: 600 !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.flex-items-center {
  align-items: center !important;
}

.header_info ul{
  margin-top: 0;
  margin-bottom: 0;
}

.HeaderNavlink {
    display: block;
    color: rgba(255,255,255,0.75);
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.header_info ul li>a {
    color: #0366d6;
    text-decoration: none;
    margin-top: 8px;
    background-color: transparent;
}


/*-------------------内容主体----------------------*/
.main_content {
 margin-left: 280px;
 margin-right: 30px;
 margin-top: 60px;
 .links {
   margin: 2em 0;
 }
}

hr {
  border-color: rgb(155,213,254);
  width: 90%;
  margin-top: -20px;
}

.bonus_button{
  width: 100%;
  height: 50px;
  float: left;
  .bonus_button_item{
    width: 16.66%;
    height: 50px;
    float: left;
    label{
      font-weight: bold;
      font-size: 18px;
      width: 80%;
    }
  }
}

/*--------------结束--------------*/


/*------------ 表格样式-----------*/

body,table{
    font-size: 12px;
    background-color: #fff;
}

table th{
    white-space: nowrap; // 表头全部显示，不落字
    font-weight: 320;
}

table td{
    white-space: nowrap; //表格元素不撑开，不落字
}
body,table{
    font-size: 12px;
}

table{
   empty-cells:show;
   border-collapse: collapse;
   margin:0 auto;
}

.table-bordered a:link{
  color: white; //未点击的链接链接
}

.table-bordered a:visited{
  color: white; //点击过链接的颜色
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  // padding: 8px;
  line-height: 1.2;
  vertical-align: middle;
  border-top: 1px solid #fff;
}

td{
  vertical-align: middle;
  height: 10px;
}

// thead {
//   background-color: #3877c8;
//   color: white;
// }

.table>tbody>tr:hover {
    background-color: rgba(56, 119, 200, 0.1);
    color: black;
    font-weight: bold;
}

/*--- 结束 ---*/


/*--- 搜索高亮---*/
.label-highlight {
  font-size: 100% !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  color: #333 !important;
  background: #fff401 !important;
}
/*--- 结束---*/

/*----------------- 分页 ---------------*/
div.pagination {
  text-align: center;
  display: block;
}

div.pagination ul {
  display: inline-block;
}
/*---------------- 结束 ----------------*/

/*----------------整体背景--------------*/
body {
  // min-height: 100%; display: flex; flex-direction: column;  //footer 置底代码
  background-color: rgb(235,236,241);
}
/*-----------------结束---------------*/


/*--------------表格外部卡片-----------*/
.card {
    border: 0;
    border-radius: 5px;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    box-shadow: 1px 1px 15px 1px rgba(39,39,39,.1);
    background-color: #fff;
}
/*----------------end----------------*/

/*--------------行点击样式------------*/
.row-click-able {
  cursor: pointer;
}
/*---------------end----------------*/

/*--------------组织架构页面样式---------*/

 body,ul,h3 {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

body {
  font-size: 12px;
  color: #333;
  font-family: Simsun;
  line-height: 15px;
}

a {
  text-decoration: none;
  color: #004285;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #C33;
}

#menu {
  margin-left: 0px;
  padding: 10px;
  border: #EEE 1px solid;
}

#menu h3 {
  font-size: 12px;
}

#menu ul {
  background: url("http://demo.jb51.net/js/2011/caidan/ul-bg.gif") repeat-y 5px 0px;
  overflow: hidden;
}

#menu ul li {
  padding: 5px 0 2px 15px;
  background: url("http://demo.jb51.net/js/2011/caidan/tree-ul-li.gif") no-repeat 5px -32px;
}

#menu ul li ul {
  display: none;
}

#menu ul li em {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  float: left;
  height: 15px;
  margin-left: -14px;
  background: url("http://demo.jb51.net/js/2011/caidan/tree-ul-li.gif") no-repeat -32px 2px;
}

#menu ul li em.off {
  background-position: -17px -18px;
}

#menu ul li#end {
  background-color: #FFF;
}

#menu ul.off {
  display: block;
}


/*---------------end----------------*/

/*----------统计分析页面表格样式--------*/

#chart_table a:link:hover{
  color:blue!important;
}

/*----------------end---------------*/
