/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome";
@import 'bootstrap-datetimepicker';
@import "select2";
@import "select2-bootstrap";

/*------------------ 登录页面 ---------------------*/
.user_setup{
    height: 850px;
 }

@media (min-width: 768px) {
   .user_setup_content {
     border-radius: 0; //圆角
   }
 }
.user_setup_content{
    background: #fff;
    margin-top: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 3px #111;
    border: 1px solid #333;
    border-radius: 25px;

    opacity:0.95;
    filter:alpha(opacity=95);

    h2{
      text-align: center;
    }

    .psw{
      float: right;
      margin-top: -33px;
      position: relative;
    }

    .account{
      text-align: center;
    }

    .form-inputs{
      margin-top: 25px;
    }

    .form-actions{
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #376ad3;
        border-color: #376ad3;
        font-size: 20px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #3877c8;
          border-color: #3877c8;
          color: #fff;
      }
    }
}
/*-----------------end--------------------*/
/*------------------sidebar------------*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 260px;
    background: #fff;
}

.sidebar .logo {
    padding: 15px 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,.3);
}

.sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
    text-decoration: none
}


.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.sidebar .nav {
    margin-top: 20px;
    display: block;
}

.sidebar .nav li:first-child>a {
    margin: 0 15px;
}

.sidebar .nav li a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}


a .material-icons {
    vertical-align: middle;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.nav {
    flex-wrap: wrap;
    padding-left: 0;
}

ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
/*-----------------------结束------------------*/
.nav .nav-item {
    position: relative;
}

.nav-link{
  display: block;
}

.navbar{
  height: 70px;
  background-color: #fff;
  border-color: #fff;
  z-index: 100;
  margin-left: 262px;
  display: flex;
  position: fixed;
  // box-shadow: 0 2px 5px -30px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 0px 0px -1px rgba(0,0,0,.2);
}


.navbar:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,.3);
}

/*--导航栏--*/
.main_content>.navbar {
  margin-bottom:0;
}

.navbar.navbar-transparent {
    padding-top: 10px;
    // background-color: transparent!important;
    box-shadow: none;
}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1029;
}

.navbar.fixed-top {
    border-radius: 0;
}

.fixed-top {
    top: 0;
    left: 0;
    right: 0;
}


.navbar-expand-lg {
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
}


.navbar>.container-fluid {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50px;
}

.navbar .navbar-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
}

.nav-wrapper {
  font-size: 16px;
  font-weight: 300px;
  text-align: left;
  min-width: auto;
  min-height: auto;
  height: 50px;
}

.navbar .navbar-brand {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: .625rem 0;
    font-weight: 300;
    margin-left: 1rem;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  white-space: nowrap;
}








.navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
}

.justify-content-end {
    -webkit-box-pack: end!important;
    justify-content: flex-end!important;
}

.navbar .navbar-nav {
    -webkit-box-align: center;
    align-items: center;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
    margin-top: -3px;
    top: 0;
    position: relative;
    margin-right: 3px;
}

.navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    max-width: 24px;
}

.navbar-nav {
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
}
/*--结束--*/



// 现员表导航栏
.header_info {
  font-size: 14px !important;
  display: block;
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  margin-top: -70px;
  margin-left: -18px;
  margin-bottom: 10px;
  background-color: #fff;
  // border-bottom: 1px solid black;
  position: relative;
}

.d-flex {
  display: flex !important;
}

.list-style-none {
  list-style: none !important;
}

.text_bold {
  font-weight: 600 !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.flex-items-center {
  align-items: center !important;
}

.header_info ul{
  margin-top: 0;
  margin-bottom: 0;
}

.HeaderNavlink {
    display: block;
    color: rgba(255,255,255,0.75);
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.header_info ul li>a {
    color: #0366d6;
    text-decoration: none;
    margin-top: 8px;
    background-color: transparent;
}

.header_info:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,.3);
}


/*-------------------内容主体----------------------*/
.main_content.has-content {
  margin-top: 70px;
}

.main_content.fold-main {
  transition: margin 0.5s;
  margin-left: 280px;
}

.main_content {
 flex: 1 0 auto;
 -webkit-box-flex: 1;
 position: relative;
 .links {
   margin: 2em 0;
 }
}

hr {
  border-color: rgb(155,213,254);
  width: 90%;
  margin-top: -15px;
}

.bonus_button{
  width: 100%;
  height: 50px;
  float: left;
  .bonus_button_item{
    width: 16.66%;
    height: 50px;
    float: left;
    label{
      font-weight: bold;
      font-size: 18px;
      width: 80%;
    }
  }
}

/*--------------结束--------------*/


/*------------ 表格样式-----------*/

body,table{
    font-size: 12px;
    background-color: #fff;
}

table th{
    white-space: nowrap; // 表头全部显示，不落字
    font-weight: 320;
}

table td{
    white-space: nowrap; //表格元素不撑开，不落字
}
body,table{
    font-size: 12px;
}

table{
   empty-cells:show;
   border-collapse: collapse;
   margin:0 auto;
}

// .table-bordered a:link{
//   color: white; //未点击的链接链接
// }
//
// .table-bordered a:visited{
//   color: white; //点击过链接的颜色
// }

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  // padding: 8px;
  line-height: 1.2;
  vertical-align: middle;
  border-top: 1px solid #fff;
}

td{
  vertical-align: middle;
  height: 10px;
}

// thead {
//   background-color: #3877c8;
//   color: white;
// }

.table>tbody>tr:hover {
    background-color: rgba(56, 119, 200, 0.1);
    color: black;
    font-weight: bold;
}

/*--- 结束 ---*/


/*--- 搜索高亮---*/
.label-highlight {
  font-size: 100% !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  color: #333 !important;
  background: #fff401 !important;
}
/*--- 结束---*/

/*----------------- 分页 ---------------*/
div.pagination {
  text-align: center;
  display: block;
}

div.pagination ul {
  display: inline-block;
}
/*---------------- 结束 ----------------*/

/*----------------整体背景--------------*/
body {
  // min-height: 100%; display: flex; flex-direction: column;  //footer 置底代码
  background-color: rgb(235,236,241);
}
/*-----------------结束---------------*/


/*--------------表格外部卡片-----------*/
.card {
    border: 0;
    // border-radius: 5px;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    padding-top:10px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    box-shadow: 1px 1px 15px 1px rgba(39,39,39,.1);
    background-color: #fff;
}
/*----------------end----------------*/

/*--------------行点击样式------------*/
.row-click-able {
  cursor: pointer;
}
/*---------------end----------------*/

/*--------------组织架构页面样式---------*/

 body,ul,h3 {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

body {
  font-size: 12px;
  color: #333;
  font-family: Simsun;
  line-height: 15px;
}

a {
  text-decoration: none;
  color: #004285;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #C33;
}

#menu {
  margin-left: 0px;
  padding: 10px;
  border: #EEE 1px solid;
}

#menu h3 {
  font-size: 12px;
}

#menu ul {
  background: url("http://demo.jb51.net/js/2011/caidan/ul-bg.gif") repeat-y 5px 0px;
  overflow: hidden;
}

#menu ul li {
  padding: 5px 0 2px 15px;
  background: url("http://demo.jb51.net/js/2011/caidan/tree-ul-li.gif") no-repeat 5px -32px;
}

#menu ul li ul {
  display: none;
}

#menu ul li em {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  float: left;
  height: 15px;
  margin-left: -14px;
  background: url("http://demo.jb51.net/js/2011/caidan/tree-ul-li.gif") no-repeat -32px 2px;
}

#menu ul li em.off {
  background-position: -17px -18px;
}

#menu ul li#end {
  background-color: #FFF;
}

#menu ul.off {
  display: block;
}


/*---------------end----------------*/


/*-----------点击颜色改变---------*/
li.active > a {
    background-color: #2ca8ff;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}

.sidebar .nav li.active>a, .sidebar .nav li.active > a i {
    color: #fff;
}

li.active > a:hover{
    background-color: #2ca8ff;
}

/*-------------end----------------*/


/*-----------个人详情页面-----------*/
.detail-3D1aE_0 {
    padding-bottom: 30px;
}

.wraper-3HSto_0 {
    width: 1000px;
    margin: 48px auto 0;
    background: #fff;
}

.wraper-k3Z8K_0 {
  position: relative;
  width: 100%;
  min-height: 256px;
  padding: 52px 32px 48px 207px;
  border-radius: 4px;
  border: 1px solid #f0f4f8;
  box-shadow: 0 4px 15px rgba(73, 80, 96, 0.1);
}

//返回按钮
.backMain-19P3__0 {
    position: absolute;
    left: 20px;
    top: 15px;
}


.ivu-btn-cancel {
    background-color: #fff;
    color: #495060;
}

.ivu-btn, .ivu-btn:hover {
    border-color: #269EFF;
    color: #269EFF;
}

.ivu-btn {
    background-color: #fff;
}


.ivu-btn-small {
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 3px;
    border-color: #e1e6eb;
}

.ivu-btn, .ivu-btn:active, .ivu-btn:focus {
    outline: 0;
}

.ivu-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    // border: 1px solid transparent;  //没有边框效果
    white-space: nowrap;
    line-height: 1.5;
    user-select: none;
    transition: color .2s linear,background-color .2s linear,border .2s linear;
}


button, select {
    text-transform: none;
}

button, input{
    overflow: visible;
}

button {
  align-items: flex-start;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font: 400 11px system-ui;
}

button {
    -webkit-writing-mode: horizontal-tb !important;
}

span {
    vertical-align: middle;
    color: black;
}



.ivu-btn>.ivu-icon+span:hover {
  color: #269EFF;
  border-color: white;
}

//头像
.wraper-3Rhbr_0 {
    position: absolute;
    left: 55px;
    top: 50px;
}

.wraper-3Rhbr_0 .detail-2tgTZ_0 {
    position: relative;
    line-height: 120px;
    text-align: center;
    width: 130px;
    height: 185px;
    background: #bad9ff;
    overflow: hidden;
}

.name-36EkS_0 {
    color: #fff;
    font-size: 36px;
}

//名字
.des-1Gi_M_0 {
    display: inline-block;
    margin: 5px 8px 12px 0;
    font-size: 30px;
    font-weight: normal;
}

h4 {
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
}

//部门信息
.depJop-2kBwS_0 {
    margin-top: 5px;
    margin-bottom: 12px;
    color: #495060;
    font-size: 14px;
}

.depJop-2kBwS_0 > p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

//个人基本信息
.tag-3NYmT_0 {
    position: relative;
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    margin-right: 16px;
    padding: 0 8px;
    text-align: center;
    font-size: 14px;
    color: #80848f;
    border: 1px solid #e1e6eb;
    border-right-color: transparent;
}

.tag-3NYmT_0::before {
    width: 15px;
    height: 15px;
    right: -8px;
    top: 1px;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #e1e6eb;
}

.tag-3NYmT_0::after {
    width: 5px;
    height: 5px;
    right: -5px;
    top: 7px;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #e1e6eb;
}

:after, :before {
    box-sizing: border-box;
}


//基本信息及其他信息
.main-1XSRW_0 {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

.tructure-2zHdB_0 {
    margin: 0 auto;
}

.head-3fDND_0 {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    max-width: 1100px;
    margin: 32px auto;
}

.head-3fDND_0::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    top: 50%;
    border-top: 1px solid #ebebeb;
}

.head-3fDND_0::after {
    display: block;
    clear: both;
    content: "";
}

.info-2zzSp_0 {
    float: left;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    padding-right: 20px;
    color: #1c2438;
    font-size: 14px;
    background-color: #fff;
}

.info-2zzSp_0::before {
    content: '';
    margin-right: 8px;
    margin-left: 12px;
    padding-left: 3px;
    width: 1px;
    top: 2px;
    height: 16px;
    background: #269EFF;
    font-size: 12px;
}


.right-Qtwf2_0 {
    float: right;
    background: #fff;
}

.edit-2kYy__0 {
    position: relative;
    font-size: 14px;
    background-color: #fff;
    z-index: 2;
    color: #269EFF;
    cursor: pointer;
    margin-right: 12px;
}

.icon-nUnTL_0 {
    position: relative;
    z-index: 1;
    top: 2px;
    cursor: pointer;
    padding-left: 20px;
    margin-right: 5px;
    background-color: #fff;
    font-size: 16px;
}

.ivu-icon {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

//具体信息内容
.ivu-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ivu-col-span-12 {
  display: block;
  width: 50%;
}

.ivu-col {
  position: relative;
}

.customField-2KxGL_0 {
    position: relative;
}

.formGroup-313Le_0 {
    margin-bottom: 8px;
}

.formGroup-13Y4w_0 {
    margin-bottom: 8px;
}

.controlLabel-3ZJIZ_0 {
    width: 150px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    position: relative;
    color: #80848f;
    font-size: 14px;
    line-height: 32px;
    padding: 0 24px 0 0;
    box-sizing: border-box;
}

.controlLabel-sXzD__0 {
    width: 150px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    position: relative;
    color: #80848f;
    font-size: 14px;
    line-height: 32px;
    padding: 0 24px 0 0;
    box-sizing: border-box;
}

.ellipsis-15d1E_0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.controlInput-28_ow_0 {
    display: inline-block;
    width: 300px;
    line-height: 32px;
    color: #495060;
    font-size: 14px;
    vertical-align: top;
}

.ellipsis-1pRQ__0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.controlInput-2NNa3_0 {
    display: inline-block;
    width: 300px;
    line-height: 32px;
    color: #495060;
    font-size: 14px;
    vertical-align: top;
}

//编辑按钮
.middle > a {
  color: #269EFF;
}

.middle > a:hover {
  color: rgba(38, 158, 255, 0.8);
}
/*--------------end---------------*/

/*------------个人编辑页面---------*/
.edit-NsWan_0 {
    padding: 32px 0;
    border: 2px dashed #e1e6eb;
    background: #f8f8f9;
    border-radius: 4px;
}

.ivu-form-item {
    margin-bottom: 32px;
    vertical-align: top;
    zoom: 1;
}

.ivu-form-item:before {
    content: "";
    display: table;
}

.ivu-form  .ivu-form-item-label {
    padding: 10px 24px 10px 0;
}

.ivu-form  .ivu-form-item-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 12px;
    color: #495060;
    line-height: 1;
    box-sizing: border-box;
}

.ivu-form-item-content {
    position: relative;
    line-height: 32px;
    font-size: 12px;
}

.ivu-input-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ivu-form-item:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    content: "";
    display: table;
}

.ivu-input {
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}

.ivu-input-icon-validate {
    display: none;
}


.ivu-input-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    color: #80848f;
    position: absolute;
    right: 0;
    z-index: 3;
}


.edit-NsWan_0 > input {
  display: inline-block;
  width: 300px;
  height: 32px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dddee1;
  border-radius: 4px;
  color: #495060;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}

.center-uRe1b_0 {
    text-align: center;
}

/*-------------end--------------*/
/*----------统计分析页面表格样式--------*/

#chart_table a:link:hover{
  color:blue!important;
}

/*----------------end---------------*/

/*-------------年龄分析页面----------*/
.dashboard-toolbar {
    position: relative;
    z-index: 0;
    padding: 20px 23px 10px;
}

.dashboard-toolbar .dashboard-name {
    color: #475669;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 6px;
    outline: 0;
    float: left;
    max-width: 300px;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -10px;
}

.dashboard-name {
    color: #475669;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}




.sa-main>div:nth-child(2) {
    height: 100%;
}

.dashboard-toolbar .dashboard-name+.icon-edit {
    line-height: 38px;
}

.dashboard-toolbar .icon-edit {
    color: #99A9BF;
    cursor: pointer;
}

.dashboard-toolbar::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#dashboard .bd {
    padding: 0 10px;
    background-color: #F7F9FA;
}


.widget-container {
    padding: 10px;
}

[data-size=normal] {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 364px;
}

.widget-container .widget-content-container {
    background: #FFF;
    box-shadow: 0 2px 11px 0 rgba(190,202,218,.17);
    border: 2px #FFF solid;
    border-radius: 3px;
}

.widget-container .widget-content-container:hover {
    background: #FFF;
    box-shadow: 0 2px 11px 0 rgba(190,202,218,.17);
    border: 2px #269EFF solid;
    border-radius: 3px;
}

.widget-container .mark-contend {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 10px;
    background: #E3EAF1;
    background-clip: content-box;
}


.widget-container .widget-content-container .widget-topbar {
    width: 100%;
}

.widget-container .widget-content-container .widget-title {
    max-width: calc(100% - 80px);
}

.widget-container .widget-content-container .widget-title div.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #5F6E82;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
}

.widget-container .widget-content-container .widget-title .range {
    font-size: 12px;
    color: #8492A6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

// .widget-container .widget-content-container .widget-topbar>div {
//     display: inline-block;
// }

.pull-right {
    float: right!important;
}

.widget-container .customer-menu {
    display: inline-block;
}

.widget-container .widget-content-container .container {
    padding-left: 0;
    padding-right: 0;
}

.widget-container .widget-content-container .widget-chart-container {
    width: 100%;
}

.widget-chart-container:after{
  clear:both;
}
/*---------------end--------------*/


/*-----------员工信息页面----------*/
.main-18rau_0 {
    padding: 0 32px;
    margin-bottom: 32px;
}

.btn_group_top-1sKKU_0 {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.btn_group-2MSRh_0 {
    text-align: right !important;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.ivu-tooltip {
    display: inline-block;
}

.ivu-tooltip-rel {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn_group-2MSRh_0 .btn-oaG3J_0 {
    margin-right: 12px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
}

.btn_group-2MSRh_0 .btn-oaG3J_0:hover {
    margin-right: 12px;
    background-color: rgba(38, 158, 255, 0.2);
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}



//合计

.switchTab-3pFw5_0 {
    font-size: 14px;
}


.queryTop-26iSU_0 ul {
    display: flex;
}

.grow8 {
    -webkit-box-flex: 8;
    flex-grow: 8;
}

.queryTop-26iSU_0 ul li {
    flex-shrink: 1;
    flex-basis: auto;
    margin-right: 20px;
}


.active-2SUrt_0 {
    border-color: #0bb27a;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.condition-19RSN_0 {
    display: flex;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 0;
    top: 0;
    height: 80px;
    border: 1px solid #e1e6eb;
    border-radius: 4px;
    background: #fff;
}

.change-type{
    color: #0bb27a;
}


.pannel-two[data-v-c2192596] {
    padding: 15px 0;
    -webkit-box-flex: 2;
    flex-grow: 2;
}

.condition-19RSN_0 > div {
    flex-shrink: 1;
    flex-basis: auto;
}

.pannel-two .title {
    font-size: 16px;
    text-align: center;
    height: 60px;
    line-height: 70px;
    // border-right: 1px solid #e1e6eb;
    margin-top: 5px;
    margin-left: 20px;
}

.highlight-1iKYJ_0 {
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
}

.highlight-1iKYJ_0 > a {
  color: #EEA345;
}

.highlight-1iKYJ_0 > a:hover {
  color: red;
}


.highlight-1iKYJ_1 {
  font-size: 24px;
  font-weight: bold;
  padding: 0 10px;
}


.highlight-1iKYJ_1  > a {
  color: #269EFF;
}

.highlight-1iKYJ_1 > a:hover {
  color: red;
}

// 筛选等一堆按钮

.toolbar-26gsx_0 {
    position: relative;
    display: flex;
    padding: 12px 0;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    margin-top: 16px;
}

.border-u3lzp_0 {
    color: #fff;
}

.ivu-dropdown {
    display: inline-block;
}

.ivu-dropdown-rel {
    position: relative;
}

.btn-2tqA7_0 {
    position: relative;
    padding: 0 10px;
    color: #495060;
}

.ivu-btn-text {
    background-color: transparent;
    border-color: transparent;
}

/*--------------end-------------*/

/*-----------下拉菜单演示--------*/
.dropdown-menu {
  text-align: center;
  width: 120px !important;
}
/*-------------end------------*/

/*------------段管理员二级导航栏-------*/
.header_info1 {
  font-size: 14px !important;
  display: block;
  z-index: 1;
  height: 40px;
  margin-top: -10px;
  margin-left: -18px;
  margin-bottom: 10px;
  background-color: #fff;
  // border-bottom: 1px solid black;  修改底部颜色
  position: relative;
  text-align: center;
}
.header_info1 ul li>a {
    color: #0366d6;
    text-decoration: none;
    margin-top: 8px;
    background-color: transparent;
}

.link-second-navbar {
    font-size: 14px;
    margin: -10px 20px;
    color: #495060;
    line-height: 60px;
    height: 60px;
    cursor: pointer;
    display: inline-block;
}

/*-----------end-------------------*/
.btn .btn-primary {
  background-color: white;
  color: black;
}

.table-bordered a:link {
    color: black;
}


/*-------------段管理员考勤设置页面----------*/
.wraper-7TeiU_0 {
    padding: 32px;
}

.explain-3dUe1_0 {
    color: #80848f;
    line-height: 1;
    margin: 32px 0;
}

.head-1n_Vg_0 {
    font-size: 16px;
    font-weight: bold;
    color: #1c2438;
}

.content-3jF0K_0{
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
}

.src-components-data-table2-src-data-table---app---1idss {
    position: relative;
}

.src-components-data-table2-src-data-table---table---2i3q8 {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    margin: 16px 0 24px;
    overflow: hidden;
}

.src-components-data-table2-src-data-table---table---2i3q8::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

//人数控制和假期控制的样式

/*----------------end--------------------*/

/*----------------a标签------------------*/
a:focus{
  color: black;
  text-decoration: none;
  outline: 0px auto;
  outline-offset: -2px;
}
/*----------------end-------------------*/


/*---------------- flash提示信息 --------------*/
.alert-success {
    background-color: #58b45d;
    border-color: #58b45d;
    color: #fff;
    font-size: bold;
}

.alert-warning {
    background-color: #fd9d2c;
    border-color: #fd9d2c;
    color: #fff;
}

.alert-danger {
    background-color: #f3524a;
    border-color: #f3524a;
    color: #fff;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: -130px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 600px;
    position: fixed;
    z-index: 1000;
}

.alert-dismissible {
    padding-right: 35px;
    width: 500px;
}

//关闭按钮
.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -1px;
    color: inherit;
}
button.close {
    margin-left: -10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
/*------------------ end --------------*/
/*------------- 新增员工页面 -----------*/
.style-new-style .edit-NsWan_0 {
    padding: 32px 0;
    // border: 2px dashed #e1e6eb;
    // background: #fff;
    border-radius: 4px;
}
/*--------------- end -----------------*/

// 车间考勤班组考勤页面按钮样式

.btn-primary2 {
  background-color: #fff;
  color: #269eff;
  border-color: #269eff;
}

.btn-primary2 > a{
  color: #269eff;
}

// 返回按钮

.back-btn {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.table-bordered a:visited {
    color: #376ad3;
    font-weight: bold;
    font-size: 18px;
}
/*-----------------end-----------------*/


/*--------------上传表页面样式-----------*/
// 返回按钮
.back-btn a {
  color: #495060;
  font-size: 14px;
}

.head-btn .back-btn a:hover {
  color: #376ad3;
}

.btn-separator-item {
  margin: 0 15px;
  color: #376ad3;
  display: inline-block;
}

.upload-font {
  font-size: 14px;
  font-weight: 700;
  color: #495060;
}

// 默认按钮样式
.btn-primary-status{
  color: #fff;
  background-color: #007bff;
  border-color: #2e6da4;
  margin-bottom: 30px;
  width: 270px;
  margin-left: 110px;
}

.file-style {
  margin: 10px 110px;
}

// 上传卡片样式
.upload-input-card {
  margin-top: 30px;
  background: white;
  border-radius: 8px 8px 2px 2px ;
  box-shadow: 0 0 30px rgba(45, 140, 240, 0.1) !important;
  width: 500px;
}

// 时间选择框
.datepicker-input {
  height: 120px;
  width: 300px;
  margin-left: 95px;
  height: 80px;
}

// 温馨提示样式
.remind-circle p {
  margin-left: -15px;
}

.remind-circle h4 {

}

// 上传各种表格的按钮
.btn-primary-upload {
  color: #fff;
  background-color: #007bff;
  border-color: #2e6da4;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 10px;
}

.head-btn {
  text-align: right;
}

.head-btn a:hover {
  color: white;
}
