/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';


/*------------------sidebar------------*/
.sidebar {
 width: 260px;
 position: fixed; // 相对与屏幕指定位置
 left: 0;
 top: 0;
 height: 100%;
 background: #fff;
 padding: 7em 0 0 0;
 border-right: 1px solid #d6dce0;
 overflow-x: hidden;
 z-index: 1;
 background: rgb(54,170,252);
 .logo {
   width: 100%;
   position: absolute;
   right: 3em;
   top: 3em;
   margin-left: 500px;
 }
}

.sidebar .sidebarnav .table_sidebar{
    a{
      padding: 16px 6px 16px 45px;
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      font-weight: 320;
      display: block;
     }

     li {
       padding: 6px 6px 6px 0px;
       text-decoration: none;
       color: #818181;
       font-weight: 320;
       display: inline;
      }

    a:hover {
      color: #fff;
      background-color: rgb(75,179,252);
      display: block;
      border-radius: 5px;
      width: 120px;
      margin-left: 20px;
      padding-left: 25px;
    }

    li.active > a{
      background-color: #fff;
      color: #2ca8ff;
      border-radius: 5px;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      display: list-item;
      width: 120px;
      margin-left: 20px;
      padding-left: 25px;
    }
}

.sidebar .sidebarnav .log-in{
  ul li{
    display: inline;
    float: left;
    list-style-type: none;  //退出与修改密码在一行显示
    }

    a{
      padding: 6px 6px 16px 45px;
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      font-weight: 320;
      display: block;
     }

     li {
       padding: 6px 6px 6px 6px;
       text-decoration: none;
       color: #818181;
       font-weight: 320;
      }

      a:hover{
        color: black;
      }
}
.main_content {
 margin-left: 280px;
 margin-right: 30px;
 margin-top: 60px;

 .links {
   margin: 2em 0;
 }
}
//logo字体
.navbar-brand{
  margin-top: -30px;
  padding-left: 80px;
  text-align: center;
}

hr {
  border-color: rgb(155,213,254);
  width: 90%;
  margin-top: -20px;
}

.bonus_button{
  width: 100%;
  height: 50px;
  float: left;
  .bonus_button_item{
    width: 16.66%;
    height: 50px;
    float: left;
    label{
      font-weight: bold;
      font-size: 18px;
      width: 80%;
    }
  }
}

/*--------------end--------------*/


/*------------ 表格样式-----------*/

body,table{
    font-size: 12px;
    background-color: #fff;
}

table th{
    white-space: nowrap; // 表头全部显示，不落字
    font-weight: 320;
}

table td{
    white-space: nowrap; //表格元素不撑开，不落字
}
body,table{
    font-size: 12px;
}

table{
   empty-cells:show;
   border-collapse: collapse;
   margin:0 auto;
}

.table-bordered a:link{
  color: white; //未点击的链接链接
}

.table-bordered a:visited{
  color: white; //点击过链接的颜色
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  // padding: 8px;
  line-height: 1.2;
  vertical-align: middle;
  border-top: 1px solid #fff;
}

td{
  vertical-align: middle;
  height: 10px;
}

// thead {
//   background-color: #3877c8;
//   color: white;
// }

.table>tbody>tr:hover {
    background-color: rgba(56, 119, 200, 0.1);
    color: black;
    font-weight: bold;
}

/*--- 结束 ---*/


/*--- 搜索高亮---*/
.label-highlight {
  font-size: 100% !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  color: #333 !important;
  background: #fff401 !important;
}
/*--- 结束---*/

/*----------------- 分页 ---------------*/
div.pagination {
  text-align: center;
  display: block;
}

div.pagination ul {
  display: inline-block;
}
/*---------------- 结束 ----------------*/

/*----------------整体背景--------------*/
body {
  // min-height: 100%; display: flex; flex-direction: column;  //footer 置底代码
  background-color: rgb(235,236,241);
}
/*-----------------结束---------------*/


/*--------------表格外部卡片-----------*/
.card {
    border: 0;
    border-radius: 5px;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    box-shadow: 1px 1px 15px 1px rgba(39,39,39,.1);
    background-color: #fff;
}
/*----------------end----------------*/

/*--------------行点击样式------------*/
.row-click-able {
  cursor: pointer;
}
/*---------------end----------------*/

/*--------------组织架构页面样式---------*/

 body,ul,h3 {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

body {
  font-size: 12px;
  color: #333;
  font-family: Simsun;
  line-height: 15px;
}

a {
  text-decoration: none;
  color: #004285;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #C33;
}

#menu {
  width: 260px;
  margin: 50px auto;
  padding: 10px;
  border: #EEE 1px solid;
}

#menu h3 {
  font-size: 12px;
}

#menu ul {
  background: url("http://demo.jb51.net/js/2011/caidan/ul-bg.gif") repeat-y 5px 0px;
  overflow: hidden;
}

#menu ul li {
  padding: 5px 0 2px 15px;
  background: url("http://demo.jb51.net/js/2011/caidan/tree-ul-li.gif") no-repeat 5px -32px;
}

#menu ul li ul {
  display: none;
}

#menu ul li em {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  float: left;
  height: 15px;
  margin-left: -14px;
  background: url("http://demo.jb51.net/js/2011/caidan/tree-ul-li.gif") no-repeat -32px 2px;
}

#menu ul li em.off {
  background-position: -17px -18px;
}

#menu ul li#end {
  background-color: #FFF;
}

#menu ul.off {
  display: block;
}


/*---------------end----------------*/