<%= render "annual_holiday_sidebar"%>
<% if (current_user.has_role? :attendance_admin) or  (current_user.has_role? :superadmin) or (current_user.has_role? :leaderadmin)%>
	<div class="col-md-12">
		<div class="card">
		    <div style="overflow: auto;" class="col-md-12">
		      <table id="example" class="table table-bordered">
		        <thead>
		        	<tr>
		        		<th>工种</th>
		        		<th>上年末单位人数</th>
		        		<th>休年休假人数</th>
		        		<th>休年休假人数-1</th>
		        		<th>休5天人数</th>
		        		<th>休10天人数</th>
		        		<th>休15天人数</th>
		        		<th>应休假天数</th>
		        		<th>1月安排人数</th>
		        		<th>1月休假天数</th>
		        		<th>2月安排人数</th>
		        		<th>2月休假天数</th>
		        		<th>3月安排人数</th>
		        		<th>3月休假天数</th>
		        		<th>4月安排人数</th>
		        		<th>4月休假天数</th>
		        		<th>5月安排人数</th>
		        		<th>5月休假天数</th>
		        		<th>6月安排人数</th>
		        		<th>6月休假天数</th>
		        		<th>7月安排人数</th>
		        		<th>7月休假天数</th>
		        		<th>8月安排人数</th>
		        		<th>8月休假天数</th>
		        		<th>9月安排人数</th>
		        		<th>9月休假天数</th>
		        		<th>10月安排人数</th>
		        		<th>10月休假天数</th>
		        		<th>11月安排人数</th>
		        		<th>11月休假天数</th>
		        		<th>12月安排人数</th>
		        		<th>12月休假天数</th>
		        	</tr>
		        </thead>
		        <tbody>
		        	<tr>
		        		<td></td>
		        	</tr>
		        </tbody>
		      </table>
		    </div>
		</div>
  </div>
	<div id="showHolidayModal"></div>
<% end %>
