<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= flash_class(key) %>">
      <span class="close" data-dismiss="alert" style="font-size:13px;color:white;">X</span>
      <%= value %>
    </div>
  <% end %>
<% end %>
