        <!-- <% if @attendance_marquee == 1 && @shenhe_day === (Time.now.day) %>
         <h4>【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", group_current_time_info_attendances_path(:year => @shenhe_year,:month => @shenhe_month),style:"color:red;" %></h4>
        <% elsif Announcement.last.present? %>
          <marquee loop="2" onMouseOut="this.start()"onMouseOver="this.stop()" style="font-size: 12pt; height: 30px">【最新通知】<%= link_to "#{Announcement.last.title}", announcement_path(Announcement.last) %></marquee>
        <% end %> -->
            <div class="leftpanel" >
                <div class="logopanel">
                  <h5>北京供电段人力资源管理系统</h5>
                </div><!-- logopanel -->

              <div class="leftpanelinner">
                <ul class="nav nav-pills nav-stacked nav-bracket">
                  <li><a href="/employees"><i class="fa fa-home"></i> <span>现员管理</span></a></li>

                    <li onclick="openModule(event, 'Attendance')">
                      <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
                        <a href="/attendances/group"><i class="fa fa-envelope-o"></i> <span>考勤管理</span></a>
                      <% elsif current_user.has_role? :workshopadmin%>
                        <a href="/attendances/group_current_time_info"><i class="fa fa-envelope-o"></i> <span>考勤管理</span></a>
                      <% elsif (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) %>
                        <a href="/attendances/group_current_time_info"><i class="fa fa-envelope-o"></i> <span>考勤管理</span></a>
                      <% end %>
                    </li>

                   <li>
                     <% if current_user.has_role? :limitadmin%>
                       <a href="/home/notfound">
                         <i class="fa fa-edit"></i> <span>定额管理</span>
                       </a>
                     <% else%>
                       <a href="/home/notfound">
                         <i class="fa fa-edit"></i> <span>定额管理</span>
                       </a>
                     <% end %>
                   </li>
                   <li>
                     <% if current_user.has_role? :saleradmin%>
                       <a href="/wages">
                         <i class="fa fa-suitcase"></i> <span>工资管理</span>
                       </a>
                     <% else %>
                       <a href="/home/notfound">
                         <i class="fa fa-suitcase"></i> <span>工资管理</span>
                       </a>
                     <% end %>
                     </li>
                     <!-- <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>工资管理</span></a>
                      <ul class="children">
                        <li><a href=""> 工资表</a></li>
                        <li><a href=""> 奖金表</a></li>
                        <li><a href=""> 高铁岗位人员情况统计 </a></li>
                        <li><a href=""> 主要行车工种情况统计 </a></li>
                        <li><a href=""> 运输站段生产人员人数和报酬 </a></li>
                        <li><a href=""> 铁路企业分层次人员工资情况 </a></li>
                        <li><a href=""> 工资图表分析</a></li>
                      </ul>
                    </li> -->
                   <li>
                     <% if current_user.has_role? :awardadmin%>
                      <a  href="/relative_salers">
                        <i class="fa fa-th-list"></i> <span>奖惩管理</span>
                      </a>
                    <% else %>
                      <a href="/home/notfound">
                        <i class="fa fa-th-list"></i> <span>奖惩管理</span>
                      </a>
                    <% end %>
                  </li>
                   <li>
                     <% if current_user.has_role? :limitadmin%>
                       <a href="/home/notfound">
                         <i class="fa fa-edit"></i> <span>收入管理</span>
                       </a>
                     <% else%>
                       <a  href="/home/notfound">
                         <i class="fa fa-file-text"></i> <span>收入管理</span>
                       </a>
                     <% end %>

                   </li>
                </ul>
              </div><!-- leftpanelinner -->
            </div><!-- leftpanel -->
