        <% if @attendance_marquee == 1 && @shenhe_day === (Time.now.day) %>
         <h4>【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", group_current_time_info_attendances_path(:year => @shenhe_year,:month => @shenhe_month),style:"color:red;" %></h4>
          <!-- <marquee loop="" onMouseOut="this.start()"onMouseOver="this.stop()" style="font-size: 12pt; height: 30px">【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", group_current_time_info_attendances_path(:year => @shenhe_year,:month => @shenhe_month) %></marquee> -->
        <% elsif Announcement.last.present? %>
          <marquee loop="2" onMouseOut="this.start()"onMouseOver="this.stop()" style="font-size: 12pt; height: 30px">【最新通知】<%= link_to "#{Announcement.last.title}", announcement_path(Announcement.last) %></marquee>
        <% end %>
            <div class="leftpanel" >
                <div class="logopanel">
                  <h5><span>[</span> 人力资源管理系统 <span>]</span></h5>
                </div><!-- logopanel -->

              <div class="leftpanelinner">
                <h3 class="sidebartitle">工作台</h3>

                <ul class="nav nav-pills nav-stacked nav-bracket">
                  <li><a href="/employees"><i class="fa fa-home"></i> <span>现员管理</span></a></li>

                    <li onclick="openModule(event, 'Attendance')">
                      <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
                        <a href="/attendances/group"><i class="fa fa-envelope-o"></i> <span>考勤管理</span></a>
                      <% elsif current_user.has_role? :workshopadmin%>
                        <a href="/attendances/group_current_time_info"><i class="fa fa-envelope-o"></i> <span>考勤管理</span></a>
                      <% elsif (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) %>
                        <a href="/attendances/group_current_time_info"><i class="fa fa-envelope-o"></i> <span>考勤管理</span></a>
                      <% end %>
                    </li>

                   <li>
                     <% if current_user.has_role? :limitadmin%>
                       <a class="nav-link" href="/home/notfound">
                         <i class="fa fa-edit"></i> <span>定额管理</span>
                       </a>
                     <% else%>
                       <a class="nav-link" href="/home/notfound">
                         <i class="fa fa-edit"></i> <span>定额管理</span>
                       </a>
                     <% end %>
                   </li>
                   <li>
                     <% if current_user.has_role? :saleradmin%>
                       <a class="nav-link" href="/wages">
                         <i class="fa fa-suitcase"></i> <span>工资管理</span>
                       </a>
                     <% else %>
                       <a class="nav-link" href="/home/notfound">
                         <i class="fa fa-suitcase"></i> <span>工资管理</span>
                       </a>
                     <% end %>
                   </li>
                   <li>
                     <% if current_user.has_role? :awardadmin%>
                      <a class="nav-link" href="/relative_salers">
                        <i class="fa fa-th-list"></i> <span>奖惩管理</span>
                      </a>
                    <% else %>
                      <a class="nav-link" href="/home/notfound">
                        <i class="fa fa-th-list"></i> <span>奖惩管理</span>
                      </a>
                    <% end %>
                  </li>
                   <li>
                     <% if current_user.has_role? :limitadmin%>
                       <a class="nav-link" href="/home/notfound">
                         <i class="fa fa-edit"></i> <span>收入管理</span>
                       </a>
                     <% else%>
                       <a class="nav-link" href="/home/notfound">
                         <i class="fa fa-file-text"></i> <span>收入管理</span>
                       </a>
                     <% end %>

                   </li>
                </ul>
              </div><!-- leftpanelinner -->
            </div><!-- leftpanel -->
