<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">各车间审核状态</h4>
      </div>
      <div class="modal-body">
        <h5>已审核车间：</h5>
          <% @workshops_varified.each do |workshop| %>
            <%= workshop.name %>
          <% end %>
        <h5>未审核车间：</h5>
          <% @workshops_not_varified.each do |workshop| %>
            <%= workshop.name %>
          <% end %>
      </div>
    </div>
  </div>
</div>
