<div class="card">
  <div style="overflow: auto;" class="col-md-10">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>顺号</th>
          <th>车间</th>
          <% @vacation_names.each do |name| %>
            <th><%= name %></th>
          <% end %>      
        </tr>
      </thead>
        <tbody data-behavior='sortable'> 
        <% vacation_codes = [] %>
        <% VacationCategory.all.each do |category| %>
          <% vacation_codes << category.vacation_code %>
        <% end %>
        <% hash = {} %>     
        <% count = 0 %>   
	      <% @workshops.each do |workshop| %> 
        <% employees = Employee.where(:workshop => workshop.id) %>
        <% employees.each do |employee| %>
          <% attendance = Attendance.find_by(:employee_id => employee.id) %>
          <% vacation_codes.each do |code| %>
            <% attendance_count = AttendanceCount.find_by(:vacation_code => code, :attendance_id => attendance.id) %>
            <% if attendance_count.present? %>
              <% count += attendance_count.count %>
              <% hash["code, workshop"] = count  %>
            <% end %>
          <% end %>
        <% end %>
        <tr>
          <td></td>
	        <td><%= workshop.name %></td>
          <% vacation_codes.each do |code| %>
            <td><%= hash["code, workshop"] %></td>
          <% end %> 
	      </tr>
        <% end %>
       </tbody>
    </table>
  </div>
</div>
</div> 