<%= render "attendance_sidebar"%>
<div class="col-md-12">

  <div class="ivu-tooltip-rel" style="margin-left: 15px; margin-bottom: 10px">
    <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
      <%= link_to caiwu_attendances_path(format: "xls") do  %>
         <span style="color: #269Eff;">导出记录</span>
      <% end %>
    </button>
  </div>


  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
              <th>车间</th>
	          <th>病假</th>
	          <th>事假</th>
	          <th>婚假</th>
	          <th>产假</th>
	          <th>探亲假</th>
	          <th>丧假</th>
	          <th>育儿假</th>
	          <th>陪产假</th>
	          <th>工伤假</th>
	          <th>旷工</th>
        	</tr>
        </thead>
        <tbody>
        	<% @workshops.each do |workshop| %>
				<tr>
				  <td><%= workshop.name %></td>
				  <% @vacation_codes.each do |code| %>
				    <td><%= AttendanceCount.where(:workshop_id => workshop.id, :vacation_code => code, :month => Time.now.month, :year => Time.now.year).sum(:count) %></td>
				  <% end %>
				</tr>
			<% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
