<!-- <%= render "attendance_sidebar"%> -->
<div class="card">
  <div style="overflow: auto;" class="col-md-10">
    <div class="btn-back" style="margin-bottom: 10px">
      <%= link_to '返回', :back %>
    </div>

    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
          <th>天数</th>
        </tr>
      </thead>
        <tbody data-behavior='sortable'>
          <% @duan_detail.each do |i| %>
            <tr>
                <td><%= i[0] %></td>
                <td><%= i[1] %></td>
            </tr>
          <% end %>
       </tbody>
    </table>
  </div>
</div>
