<!DOCTYPE html>
<html>
  <head>
    <title>北京供电段管理系统</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
  </head>

  <body>
    <div class="sidebar data-background-color="white" data-active-color="danger" " >
    <div class="logo">
      <a class="navbar-brand" href="/" style="color: #fff; font-size: 18px;font-weight: 320; white-space:nowrap;">北京供电段管理系统</a>
    </div>
    <hr>
      <div class="sidebarnav">
        <div class="table_sidebar">
          <li class="active">
            <a href="/employees">
              <span class="fa-stack">
                <i class="fa fa-address-card fa-stack-2x"></i>
              </span>
              现员管理</a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-twitter fa-stack-2x"></i>
              </span>
              考勤管理</a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-balance-scale fa-stack-1x"></i>
              </span>
              定额管理</a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-credit-card fa-stack-1x"></i>
              </span>
              奖惩管理</a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-credit-card fa-stack-1x"></i>
             </span>
              工资管理</a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
               <i class="fa fa-cog fa-stack-1x"></i>
             </span>
              权限设置</a>
          </li>
        </div>
      </div>
    </div>

  <div class="main_content">
    <%= yield %>
  </div>
  </body>
</html>
