<!DOCTYPE html>
<html>
  <head>
    <title>北京供电段人力资源管理系统</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="contailer-fluid">
      <div class="container">
       <%= yield %>
      </div>
    </div>
  </body>
</html>
